In [3]:
#importing the libraries
import numpy as py
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
dataset=pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)          #if male is '0' -then female is '1'
dataset                                                  #if smoker is '0'- then smoker is'1'  so use(drop_first=True)

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset[['charges']]

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

param_grid = {'criterion': ['mse', 'mae'],
              'n_estimators': [10, 100],
              'max_features': ['auto', 'log2']}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1)
grid.fit(indep, dep)

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 3 folds for each of 8 candidates, totalling 24 fits

[Parallel(n_jobs=-1)]: Done  24 out of  24 | elapsed:   16.4s finished
C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [9]:
re=grid.cv_results_

In [10]:


table=pd.DataFrame.from_dict(re)

In [11]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.223124,0.069818,0.018987,0.008963,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.831319,0.809628,0.802262,0.814403,0.012333,7
1,0.540748,0.029802,0.031003,0.000923,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.839206,0.826861,0.817001,0.827689,0.009084,3
2,0.044403,0.004408,0.010084,0.000004,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.825306,0.823942,0.802814,0.817354,0.010296,6
3,0.378369,0.005637,0.026916,0.004794,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.842934,0.837830,0.810857,0.830540,0.014073,2
4,0.306201,0.028381,0.010093,0.000017,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.817184,0.815522,0.805677,0.812794,0.005078,8
5,2.963257,0.194905,0.036347,0.005730,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.828565,0.831784,0.817484,0.825945,0.006125,4
6,0.194643,0.011506,0.006722,0.003422,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.825207,0.820748,0.811203,0.819053,0.005841,5
7,1.726186,0.176994,0.030893,0.007399,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.839651,0.833951,0.818350,0.830651,0.009004,1

In [12]:
age_input=int(input("Enter age:"))
BMI_input=(input("Enter BMI:"))
children_input=int(input("Enter Children:"))
sex_male_input=int(input("Enter Sex_Male 0 or 1:"))
Smoker_input=int(input("Enter Smoker_yes 0 or 1:"))

Enter age:33
Enter BMI:65
Enter Children:5
Enter Sex_Male 0 or 1:0
Enter Smoker_yes 0 or 1:0

In [13]:
Future_prediction=grid.predict([[age_input,BMI_input,children_input,sex_male_input,Smoker_input]])

In [14]:
Future_prediction

array([9020.9392664])